# Binaries
dr-peste
dr-peste.exe
*.exe~
*.dll
*.so
*.dylib

# Environment variables
.env

# Database files
data/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# IDE files
.idea/
.vscode/
*.swp
*.swo 