---
# Bot configuration
bot_user: dr-peste
bot_home: "/home/{{ bot_user }}"
bot_repo: "https://github.com/intinig/dr-peste.git"
discord_token: "YOUR_DISCORD_TOKEN"
guild_id: "YOUR_GUILD_ID"  # The Discord server ID where the bot will be used

# Go version
go_version: "1.24.0"
go_checksum: "e3d28a2973916c23bdee22b0ba3159d4c4a62d788ba4c2ec6236849842adeb06"  # SHA256 for go1.24.0.linux-amd64.tar.gz

# Logging configuration
log_retention_days: 14
log_directory: "/var/log/dr-peste" 