[Unit]
Description=Dr. Peste Discord Bot
After=network.target

[Service]
Type=simple
User={{ bot_user }}
WorkingDirectory={{ bot_home }}/dr-peste
ExecStart=/usr/local/go/bin/go run main.go
Restart=always
RestartSec=10
Environment=DISCORD_TOKEN={{ discord_token }}
Environment=GUILD_ID={{ guild_id }}
StandardOutput=append:{{ log_directory }}/bot.log
StandardError=append:{{ log_directory }}/error.log

[Install]
WantedBy=multi-user.target 