{{ log_directory }}/*.log {
    daily
    rotate {{ log_retention_days }}
    compress
    delaycompress
    missingok
    notifempty
    create 0640 {{ bot_user }} {{ bot_user }}
    postrotate
        systemctl restart dr-peste
    endscript
} 